.hidden {
    display: none;
}

.show {
    display: block;
}

body {
    background-color: aquamarine;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 950px;
    height: auto;
    background-color: white;
    border-radius: 0.5rem;
    box-sizing: border-box;
    align-self: flex-start;
    margin-top: 8rem;
}

#container2  h1 {
    color: black;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    height:fit-content;
    box-sizing: border-box;
    padding: 1rem;
    font-weight: bolder;
}
#container2  div {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
}

#container2  div label {
    font-weight: bolder;
    font-size: 1.5rem;
    padding-right: 2rem;
}

#container2 div button {
    margin-left: 2rem;
}

#container2 table,
#container2 table tr th
{
    border: 0.1rem solid black;
}

#container2 table {
    margin-top: 2rem;
    margin-left: 2rem;
}

#container2 table tr th{
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: cyan
}

footer{
    margin-top: 2rem;
    text-align: center;
}